@mixin bigHeading {
  h1{
    @include font-size(32px);
    font-family: 'Titillium Web', sans-serif;
  }
}
@mixin mediumHeading{
  h2{
    @include font-size(24px);
    font-family: 'Titillium Web', sans-serif;
  }
}
@mixin smallHeading {
  h3{
    @include font-size(20px);
    font-family: 'Titillium Web', sans-serif;
  }
}
@mixin miniHeading {
  h4{
    @include font-size(20px);
    font-family: 'Mada', sans-serif;
    font-weight: 500;
  }
}

@mixin paragraph {
  p{
    @include font-size(14px);
    font-family: 'Mada', sans-serif;
  }
}
