
// Convert font size to REM units with pixel fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Hover effect for elements
@mixin hoverColor{
  transition: opacity 0.1s ease;
  &:hover{
      opacity: 0.8;
  }
}
@mixin boxShadow{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}
// Reset for Omega margin glutter
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
