$black: #000;
$white: #fff;
$text-color: #333;
$light-grey: #F1F4FA;
$border-color-grey: #b5bccb;

$sidebar-icon-color: #6a81c1;
$sidebar-bg: #2d476c;
$sidebar-dark-blue: #1f314b;

$green-dark: #1c8878;
$green: #28D0B7;
$green-light: #31edd1;

$blue: #00C3E6;
$blue-light: #52DFEE;

$red: #DE6263;
