$black: #000;
$white: #fff;
$text-color: #333;
$light-grey: #F1F4FA;
$border-color-grey: #b5bccb;

$sidebar-icon-color: #8897C1;
$sidebar-medium-blue: #63749a;
$sidebar-bg: #2B3A4F;
$sidebar-dark-blue: #1c2028;

$green-dark: #50a78b;
$green: #40d5a4;
$green-light: #5af0bf;

$blue-dark: #0ea5be;
$blue: #00C3E6;
$blue-light: #52DFEE;
