$black: #000;
$white: #fff;
$text-color: #333;
$light-grey: #F1F4FA;
$sidebar-bg: #303C4E;
$sidebar-icon-color: #8C9CC0;
$green: #49D4A5;
$green-light: #62EFC0;
$light-blue: #22C7E6;
$light-blue-lighter: #8AE1EF;
