<div class="container frontpage">
  <div class="heading">
    <h1>Dashboard</h1>
  </div>
  <div class="actions">
    <!-- Wordbank -->
    <div class="block">
      <h2>Wordbank</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Database for <br>storing words</p>
      </div>
    </div>
    <!-- Assignments -->
    <div class="block">
      <h2>Assignments</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Assignments & <br> quizes</p>
      </div>
    </div>

    <!-- Word adding -->
    <div class="block">
      <h2>Add a word</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Add words or<br> expressions</p>
      </div>
    </div>
  </div>
  <div class="subheading">
    <h3>Recent activity</h3>
  </div>
  <div class="recent">
    <div class="activity">
      <div class="what-and-when">
        <p class="event"><b>くそ食らえ</b> added to the wordbank </p>
        <p class="occurance">30 min ago</p>
      </div>
      <div class="operations">
        <p class="view">
          <span class="action ion-chevron-down"></span>
          <span class="mobile-text"> View notification</span>
        </p>
        <p class="delete">
          <span class="action ion-trash-a"></span>
          <span class="mobile-text"> Delete notification</span>
        </p>
      </div>
    </div>
    <div class="activity">
      <div class="what-and-when">
        <p class="event"><b>蓄える</b> added to the wordbank </p>
        <p class="occurance">1 day ago</p>
      </div>
      <div class="operations">
        <p class="view">
          <span class="action ion-chevron-down"></span>
          <span class="mobile-text"> View notification</span>
        </p>
        <p class="delete">
          <span class="action ion-trash-a"></span>
          <span class="mobile-text"> Delete notification</span>
        </p>
      </div>
    </div>
    <div class="activity">
      <div class="what-and-when">
        <p class="event"><b>Teacher</b> has returned your assignment</p>
        <p class="occurance">2 days ago</p>
      </div>
      <div class="operations">
        <p class="view">
          <span class="action ion-chevron-down"></span>
          <span class="mobile-text"> View notification</span>
        </p>
        <p class="delete">
          <span class="action ion-trash-a"></span>
          <span class="mobile-text"> Delete notification</span>
        </p>
      </div>
    </div>
  </div>
</div>
