<div class="container frontpage">
  <div class="heading">
    <h1>Dashboard</h1>
  </div>
  <div class="actions">
    <!-- Wordbank -->
    <div class="block">
      <h2>Wordbank</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Database for <br>storing words</p>
      </div>
    </div>
    <!-- Assignments -->
    <div class="block">
      <h2>Assignments</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Assignments & <br> quizes</p>
      </div>
    </div>

    <!-- Word adding -->
    <div class="block">
      <h2>Add a word</h2>
      <div class="block__action">
          <span class="ion-chevron-right"></span>
          <h4>View</h4>
      </div>
      <div class="block__action">
          <span class="ion-android-expand"></span>
          <p>456 words <br>
          Edited 2 h ago</p>
      </div>
      <div class="block__action">
          <span class="info">i</span>
          <p>Add words or<br> expressions</p>
      </div>
    </div>
  </div>

  <div class="subheading">
    <h3>Recent activity</h3>
  </div>

  <recent-activities></recent-activities>

</div>
