.askteacher{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;
  .allquestions{
    @include span-columns(12);
    margin-top: 40px;
    .question-options{
      @include boxShadow;
      @include span-columns(12);
      display:inline;
      background: $white;
      h3{
        @include font-size(17px);
        z-index: 44;
        padding: 20px 0 20px 0;
        margin-bottom: -1px;
        margin-left:15px;
        cursor: pointer;
        display:inline-block;
        position: relative;
      }
      h3.active{
        border-bottom: 3px solid $blue;
      }
    }
    .question-container{
      @include span-columns(12);
      border-top: 1px solid #E2E5EB;
    }
  }
}
