.assignment{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;

  .assignments{
    margin-top: 40px;
    @include outer-container;
    @include row;
    .block{
      @include span-columns(3);
      @include omega(4n);
      @include boxShadow;
      background-color: $white;
      margin-bottom: 20px;
      position: relative;
      @include media(max-width 1090px){
        @include omega-reset(4n);
        @include omega(3n);
        @include span-columns(4);
      }
      @include media(max-width 768px){
        @include omega-reset(3n);
        @include span-columns(6);
        @include omega(2n);
      }
      @include media(max-width 540px){
        @include omega-reset(2n);
        @include span-columns(12);
      }
      .delete{
        position: absolute;
        right:-8px;
        top:-8px;
        span{
          @include font-size(26px);
          cursor: pointer;
          color: $sidebar-bg;
        }
      }
      .title{
        margin: 0 15px 0;
        h3{
          border-bottom: 1px solid #E2E5EB;
          padding: 15px 0 10px;

        }
      }
      .description{
        padding:15px;
        min-height: 125px;
        h4{
          @include font-size(16px);
          padding: 0 0 10px;
        }
      }
      .date{
        padding:0 15px 5px;
        p{
          @include font-size(14px);
        }
      }
      .bottom{
        @include clearfix;
        border-top: 1px solid #E2E5EB;
        margin: 0 15px 0;
        padding: 15px 0;
        p:first-of-type{
          float:left;
          line-height: 27px;
         }
        p:last-of-type{
          cursor:pointer;
          line-height: 25px;
          padding:0 15px;
          border-radius: 3px;
          float:right;
          background-color: $green;
          border: 1px solid $green-dark;
          color: $white;
        }
      }
    }
  }
}
