// Subview - every view is fetched under this class.
.subview{
  position:absolute;
  bottom: 0;
  left: 130px;
  right: 25px;
  top: 73px;
  @include media(max-width $mobile){
    left: 0 !important;
  }
}
