.navigation-side{
  position: fixed;
  background-color: $sidebar-bg;
  height: 100%;
  top:65px;
  width: 100px;
  z-index: 1;
  @include media(max-width $mobile){
    display:none;
  }
  .navigation-side__nav{
    ul{
      background-color: $white;
      li{
        @include clearfix;
        background-color: $sidebar-bg;
        border-bottom: solid 1px $sidebar-dark-blue;
        border-top: solid 1px $sidebar-medium-blue;
        transition: all 0.1s ease;
        &:first-of-type{
          border-top: none;
        }
        &:last-of-type{
          border-bottom: none;
        }
        a{
          span{
            color: $sidebar-icon-color;
            display:block;
            font-size: 2em;
            text-align: center;
          }
          .ion{
            padding-top:20%;
          }
          @include small;
          p {
            color: $sidebar-icon-color;
            padding-bottom:20%;
            padding-top:5%;
            text-align: center;
          }
        }
        &:hover{
          p, span{
            color: $white;
          }
          background-color: $sidebar-dark-blue;
        }
      }
    }
  }
}
