.quiz{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;
  h4, p{
    color: $sidebar-bg;
  }
  .mission{
    margin-top: 20px;
    cursor: pointer;
    p{
      @include font-size(28px);
      line-height: 75px;
      color: $white;
      @include media(max-width 540px){
        @include font-size(18px);
        line-height: 75px;
      }
    }
  }
  .option{
    p{
      @include font-size(20px);
    }
  }
}
.subview{
  position:absolute;
  bottom: 0;
  left: 100px;
  right:0;
  top: 65px;
}
