.quizmaker{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;
  input{
    &:focus{
      outline:none;
    }
  }
  textarea{
    padding-top:12px;
    font-family: arial;
    min-height: 120px;
    resize: vertical;
  }
}
.quiz-template{
  @include boxShadow;
  @include span-columns(12);
  margin-top: 40px;
  margin-bottom: 40px;
  .all-quizzes{
    @include span-columns(12);
    padding: 0 15px 15px 15px;
    border-top: 1px solid #E2E5EB;
    background-color: $white;
    .singular-quiz{
      @include span-columns(12);
      padding: 15px 0 0 0;
    }
  }
  .type-selected{
    @include span-columns(12);
    color: $sidebar-bg;
    padding: 0 0 15px 0;
    h3{
      @include span-columns(9);
      display: block;
    }
    .settings{
      @include span-columns(3);
      text-align: right;
      i{
        @include font-size(24px);
        padding: 0 5px 0 5px;
        line-height: 36px;
      }
    }
  }
  .field-container{
    @include span-columns(12);
    background-color: $white;
    padding: 15px;
    .field{
      @include span-columns(12);
      position: relative;
      .textinput{
        @include font-size(16px);
        position: relative;
        border:none;
        height:40px;
        outline:none;
        width: 100%;
        transition: border 0.1s ease-in-out;
      }
      h4{
        padding-top: 30px;
        position: absolute;
        pointer-events: none;
        left: 15px;
        top: 0;
        transition: 0.2s ease all;
        @include media(max-width $mobile){
          padding-bottom: 0;
        }
      }
    }
  }
  .actions{
    @include span-columns(12);
    border-top: 1px solid #E2E5EB;
    background-color: $white;
    padding:15px;
    .action-container{
      @include span-columns(3);
      float:right;
      .remove,.submit{
        padding:5px 15px 5px 15px;
        text-align: center;
        color: $white;
        border-radius:3px;
      }
      .remove{
        @include span-columns(6);
        background-color: $sidebar-bg;
        border: 1px solid $sidebar-bg;
      }
      .submit{
        @include span-columns(6);
        background-color: $green;
        border: 1px solid $green-dark;
      }
    }
  }
}
