.word-typing{
  .question{
    h2{
      @include font-size(36px);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
    @include media(max-width 540px){
      h2{
        @include font-size(26px);
      }
    }
    p{
      @include font-size(24px);
      @include japanese;
    }
    .hiragana{
      padding-top: 10px;
    }
    .translation{
      @include font-size(30px);
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
  }
  .kanji-answer{
    h3{
      @include japanese;
      @include font-size(30px);
    }
    p{
      @include font-size(24px);
    }
  }
}
.answer_container{
  .answer-input{
    @include boxShadow;
    @include clearfix;
    margin-top:20px;
    margin-bottom:20px;
  }
  .textinput{
    @include span-columns(10, block-collapse);
    input{
      @include font-size(24px);
      border-style: none;
      text-align: center;
      border-right:none;
      height:75px;
      color: $sidebar-bg;
      outline:none;
      padding-left: 20px;
      width:100%;
    }
  }
  .answer-icon{
    @include span-columns(2, block-collapse);
    background-color:$blue;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover{
      background-color: $blue-dark;
    }
    i{
      @include font-size(30px);
      display: block;
      height:75px;
      line-height: 75px;
      color: $white;
      border-left: none;
      text-align: center;
    }
  }
  .answer-feedback{
    margin-top: 40px;
    .wrong, .right{
      @include span-columns(12);
      @include boxShadow;
      height: 75px;
      cursor:pointer;
      p{
        @include font-size(24px);
        color: $white;
        line-height: 75px;
        text-align: center;
      }
    }
    .wrong{
      background-color: $red;
    }
    .right{
      background-color: $green;
    }
  }
}
