.navigation-top{
  position:fixed;
  background-color: $white;
  display: inline;
  height: 65px;
  width: 100%;
  z-index: 2;
  @include media(max-width $mobile){
    left:0;
  }
  @include paragraph;
  @include clearfix;
  span, p {
    float: right;
    font-size: 16px;
    padding: 21px;
  }
  span{
    color: $sidebar-bg;
    cursor: pointer;
    font-size:20px;
  }
  p{
    @include media(max-width $mobile){
      margin-right: 65px;
    }
  }

}
