.navigation-top{
  position:fixed;
  background-color: $white;
  display: inline;
  height: 65px;
  width: 100%;
  z-index: 2;
  @include paragraph;
  @include clearfix;

  .logo {
    background-color: $blue;
    float:left;
    height: 100%;
    width: 100px;
  }
  a, p {
    float: right;
    font-size: 16px;
    padding-right: 30px;
    padding-top: 20px;
  }
  a{
    font-size:20px;
  }
}
