.wordbank{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;
  position: relative;
  h4{
    @include font-size(15px);
    color: $sidebar-bg;
    cursor:pointer;
    display:inline-block;
    padding: 20px 0 20px;
    margin: 0 20px 0 20px;
    text-align: center;
    margin-bottom: -1px;
    span{
      padding-left:4px;
    }
  }
  h4.active{
    border-bottom: 3px solid $blue;
  }
  .word-container{
    @include span-columns(12);
    @include boxShadow;
    background-color: $white;
    @include media(max-width $mobile){
      @include span-columns(12);
      box-shadow: none;
      background-color: rgba(0,0,0,0);
    }
    @include media(max-width $mobile){
      width: 100%;
      @include span-columns(12);
    }
  }
}
