.wordbank{
  @include outer-container;
  @include bigHeading;
  @include mediumHeading;
  @include smallHeading;
  @include miniHeading;
  @include paragraph;
  .word-container{
    @include span-columns(9);
    background-color: $white;
    @include media(max-width $mobile){
      width: 100%;
      @include span-columns(12);
    }
    .all-words{
      /*
      overflow-y: scroll;
      max-height: 497px;
      */
      border-top: 1px solid $blue-dark;
    }
  }
}
