<div class="wrapper">
  <div class="container addword">
    <div class="heading">
      <h1> Add a word</h1>
    </div>
    <form name="submitWord" novalidate>
      <div class="fields">
        <div class="field">
          <div class="title">
            <h4>Expression:</h4>
          </div>
          <div class="content">
            <input type="text" name="expression" ng-model="form.expression" class="textinput" placeholder="Type Japanese word or expression in Kanji" required></input>
          </div>
        </div>
        <div class="field">
          <div class="title">
            <h4>Reading:</h4>
          </div>
          <div class="content">
            <input type="text" name="reading" ng-model="form.reading" class="textinput" placeholder="Type the same word or expression in hiragana or in romaji"></input>
          </div>
        </div>
        <div class="field">
          <div class="title">
            <h4>Meaning:</h4>
          </div>
          <div class="content">
            <input type="text" name="meaning" ng-model="form.meaning" class="textinput" placeholder="Describe the meaning in your language" required></input>
          </div>
        </div>
        <div class="field">
          <div class="title">
            <h4>Tags:</h4>
          </div>
          <div class="content">
            <ui-select class="tag-container" multiple tagging tagging-label="false" ng-model="form.selectedItem" ng-disabled="tags.disabled" title="Choose a tag" required>
              <ui-select-match class="tag-list" placeholder="Select tags for the word or create your own">{{$item}}</ui-select-match>
              <ui-select-choices class="tag-choices" repeat="tag in (tags | filter:$select.search) track by $index">
                {{tag}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="field">
          <div class="title">
            <h4>Sentences:</h4>
          </div>
          <div class="content">
            <textarea type="text" name="sentences" ng-model="form.sentences" class="textinput" placeholder="Give the word or expression example sentences"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="submit-actions">
            <button class="erase" ng-click="clearFields()">
              <p>Erase fields</p>
            </button>
            <button class="submit" ng-click="onSubmit()" ng-disabled="submitWord.$invalid">
              <p>Submit</p>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
