<div class="container addword">
  <div class="heading">
    <h1> Add a word</h1>
  </div>
  <div class="form">
    <div class="fields">
      <div class="field">
        <div class="title">
          <h4>Expression:</h4>
        </div>
        <div class="content">
          <input type="text" class="textinput" placeholder="Type Japanese word or expression in Kanji"></input>
        </div>
      </div>
      <div class="field">
        <div class="title">
          <h4>Reading:</h4>
        </div>
        <div class="content">
          <input type="text" class="textinput" placeholder="Type the same word or expression in hiragana or in romaji"></input>
        </div>
      </div>
      <div class="field">
        <div class="title">
          <h4>Meaning:</h4>
        </div>
        <div class="content">
          <input type="text" class="textinput" placeholder="Describe the meaning in your language"></input>
        </div>
      </div>
      <div class="field">
        <div class="title">
          <h4>Tags:</h4>
        </div>
        <div class="content">
          <input type="text" class="textinput" placeholder="Give the word or expression suitable tags"></input>
        </div>
      </div>
      <div class="field">
        <div class="title">
          <h4>Image:</h4>
        </div>
        <div class="content">
          <input type="file" id="toHide"></input>
          <input type="button" value="Click to upload a picture to aid word memorization" align="left" class="upload" onClick="document.getElementById('toHide').click();"></input>
        </div>
      </div>
      <div class="field">
        <div class="title">
          <h4>Sentences:</h4>
        </div>
        <div class="content">
          <textarea type="text" class="textinput" placeholder="Give the word or expression example sentences"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="erase">
          <p>Erase fields</p>
        </div>
        <div class="submit">
          <p>Submit</p>
        </div>
      </div>
    </div>
  </div>
</div>
