<div class="loader" ng-class="{'show-loader': loading }">
  <span class="ion-load-d"></span>
</div>
<div ng-show="!loading">
  <div class="wrapper">
    <div class="container askteacher">
      <div class="heading">
        <h1> Ask tutor </h1>
      </div>
      <div class="allquestions">
        <div class="question-options">
          <h3 ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
            Ask a question
          </h3>
          <h3 ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
            Answered
          </h3>
          <h3 ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
            Unanswered
          </h3>
        </div>

        <div class="question-container">
          <div class="ask" ng-show="isSet(1)">
            <form class="submitQuestion" name="submitQuestion" novalidate>
              <div class="field">
                  <div class="question-type">
                    <p>Question relates to</p>
                    <select name="qt" id="qt" ng-model="form.questionType" required>
                      <option value="general">General issues</option>
                      <option value="correction">Word bank</option>
                      <option value="assignment">Assignments</option>
                    </select>
                  </div>
                  <textarea name="name" class="question-text" ng-model="form.questionText" placeholder="Type your question here" required></textarea>
              </div>
              <div class="field">
                <button class="submit" ng-click="onSubmit()" ng-disabled="submitQuestion.$invalid">Submit</button>
              </div>
            </form>
          </div>

          <div class="answered" ng-show="isSet(2)">
            <div class="question-block">
              <div class="field" ng-repeat="question in showQuestions" ng-show="currentUser == question.askedBy" ng-if="question.answer != 0">
                <div class="question-answer-container">
                  <div class="student-question">
                    <div class="question">
                      <p>{{ question.question }}</p>
                    </div>
                    <div class="posted">
                      <p>{{ question.date | date: "MMM d ''yy 'at' HH:mm" }}</p>
                    </div>
                  </div>
                  <div class="answer-container">
                    <div class="teacher">
                      <p>Teacher: </p>
                    </div>
                    <div class="answer">
                      <p>{{ question.answer }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="unanswered" ng-show="isSet(3)">
            <div class="question-block">
              <div class="field">
                <div class="student-question" ng-repeat="question in showQuestions" ng-show="currentUser == question.askedBy" ng-if="question.answer == 0">
                  <div class="question">
                    <p>{{ question.question }}</p>
                  </div>
                  <div class="posted">
                    <p>{{ question.date | date: "MMM d ''yy 'at' HH:mm" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
