<div class="loader" ng-class="{'show-loader': loading }">
  <span class="ion-load-d"></span>
</div>
<div ng-show="!loading">
  <div class="wrapper">
    <div class="container askteacher">
      <div class="heading">
        <h1> Ask tutor </h1>
      </div>
      <div class="allquestions">
        <div class="question-options">
          <h3 ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
            Ask a question
          </h3>
          <h3 ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
            Answered
          </h3>
          <h3 ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
            Unanswered
          </h3>
        </div>
        <div class="question-container">
          <div class="ask" ng-show="isSet(1)">
            <div class="field">
              <div class="question-type">
                <p>Question relates to</p>
                <select name="qt" id="qt">
                  <option value="general">General issues</option>
                  <option value="correction">Word bank</option>
                  <option value="assignment">Assignments</option>
                </select>
              </div>
              <textarea name="name" class="question-text" placeholder="Type your question here"></textarea>
            </div>
            <div class="field">
              <button class="submit">Submit</button>
            </div>
          </div>
          <div class="answered" ng-show="isSet(2)">
            fag
          </div>
          <div class="unanswered" ng-show="isSet(3)">
            <div class="question-block">
              <div class="field">
                <div class="student-question">
                  <div class="user">
                    <p>jarmo asked:</p>
                  </div>
                  <div class="question">
                    <p>test</p>
                  </div>
                  <div class="posted">
                    <p>Mar 22 '17 at 10:37</p>
                  </div>
                </div>
                <textarea name="name" class="answer-text" placeholder="Answer this question"></textarea>
              </div>
              <div class="field field-submit">
                <button class="submit">Answer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
