<div class="loader" ng-class="{'show-loader': loading }">
  <span class="ion-load-d"></span>
</div>
<div ng-show="!loading">
  <div class="wrapper">
    <div class="container assignment">
      <div class="heading">
        <h1> Assignments </h1>
      </div>
      <div class="assignments">
        <div class="block" ng-repeat="assignment in assignments track by $index" ng-if="assignment.cardData.createdBy == currentUser">
            <div class="delete">
              <span class="ion-close-circled" ng-click="removeAssignment(assignment.key, assignment)"></span>
            </div>
            <div class="title">
              <h3>{{assignment.cardData.deckName}}</h3>
            </div>
            <div class="description">
              <p>{{assignment.cardData.description}}</p>
            </div>
            <div class="date">
              <p>{{assignment.cardData.date | date: "MMM d ''yy 'at' HH:mm"}}</p>
            </div>
            <div class="bottom">
              <div class="elements">
                <p>Cards: {{assignment.cardData.cardLength}}</p>
                <p ui-sref="dashboard.quiz({assignment: assignment.cardData.deckName})">Study</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
