<div class="wrapper">
  <div class="container assignment">
    <div class="heading">
      <h1> Assignments </h1>
    </div>
    <div class="newest">
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
      <li class="block">
        m
      </li>
    </div>
  </div>
</div>
