<div class="wrapper">
  <div class="container frontpage">
    <div class="heading">
      <h1>Dashboard</h1>
    </div>
    <div class="actions">
      <!-- Wordbank -->
      <div class="one-third">
        <h2>Wordbank</h2>
        <div class="block__action">
          <a ui-sref="dashboard.wordbank">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-stats-bars"></span>
            <p>456 words </p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>
      <!-- Assignments -->
      <div class="one-third">
        <h2>Assignments</h2>
        <div class="block__action">
          <a ui-sref="dashboard.assignments">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-compose"></span>
            <p>52 assignments</p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>

      <!-- Word adding -->
      <div class="one-third">
        <h2>Ask teacher</h2>
        <div class="block__action">
          <a ui-sref="dashboard.addword">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-chatboxes"></span>
            <p> 1 pending</p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>
    </div>

    <div class="recent">
      <div class="subheading">
        <h4>Recent activity</h4>
      </div>
        <div class="activity" ng-repeat="recent in recents | orderBy:'timestamp':true track by $index" recent="recent">
          <div class="what-and-when">
              <p class="event">{{ recent.data.activity }}</p>
              <p class="occurance">{{ recent.data.timestamp | date: "MMM d ''yy 'at' HH:mm"}}</p>
          </div>
          <div class="operations" outside-click="$root.popkey = null">
              <span class="action ion-android-more-vertical" ng-click="$root.popkey = recent.key"></span>
              <div class="options" ng-show="$root.popkey == recent.key">
                <li>
                  <span class="ion-chevron-right"></span>
                  <p class="delete">View</p>
                </li>
                <li ng-click="removeActivity(recent.key, recent);">
                  <span class="ion-trash-a"></span>
                  <p class="delete">Delete</p>
                </li>
              </div>
          </div>
        </div>
    </div>
  </div>

</div>
