<div class="wrapper">
  <div class="container frontpage">
    <div class="heading">
      <h1>Dashboard</h1>
    </div>
    <div class="actions">
      <!-- Wordbank -->
      <div class="one-third">
        <h2>Wordbank</h2>
        <div class="block__action">
          <a ui-sref="dashboard.wordbank">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-stats-bars"></span>
            <p>456 words </p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>
      <!-- Assignments -->
      <div class="one-third">
        <h2>Assignments</h2>
        <div class="block__action">
          <a ui-sref="dashboard.assignments">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-compose"></span>
            <p>52 assignments</p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>

      <!-- Word adding -->
      <div class="one-third">
        <h2>Ask teacher</h2>
        <div class="block__action">
          <a ui-sref="dashboard.addword">
            <span class="ion-chevron-right"></span>
            <h4>View</h4>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="ion-chatboxes"></span>
            <p> 1 pending</p>
          </a>
        </div>
        <div class="block__action">
          <a ui-sref="dashboard">
            <span class="info">i</span>
            <p>More details</p>
          </a>
        </div>
      </div>
    </div>

    <div class="subheading">
      <h3>Recent activity</h3>
    </div>

    <div class="recent" ng-controller="RecentActivityCtrl">
      <activity ng-repeat="recent in recents" recent="recent"> </activity>
    </div>
  </div>

</div>
