<div class="word-meanings">
  <div class="japanese">
    <p>{{assignment.words[0].reading}}</p>
    <h2>{{assignment.words[0].expression}}</h2>
  </div>
  <div class="english answer">
    <p ng-style="answer">{{assignment.words[0].meaning}}</p>
  </div>
</div>
<div class="wrapper">
  <div class="container quiz">
    <div class="answer_container">
      <div class="mission">
        <p ng-click="showAnswer()")>{{showText}}</p>
      </div>
      <div class="options" ng-if="answerChoices">
        <div class="option forgot">
          <p>No</p>
        </div>
        <div class="option remember">
          <p>Yes</p>
        </div>
        <div class="option hints">
          <span class="ion-gear-b"></span>
        </div>
      </div>
  </div>
</div>
