<div class="word-meanings">
  <div class="word_in_question">
    <h2>{{word.japanese}}</h2>
  </div>
</div>
<div class="wrapper">
  <div class="container quiz">
    <div class="answer_container">
      <div class="mission">
        <p>Vocubulary type: <strong>reading</strong></p>
      </div>
      <div class="options">
        <div class="option forgot">
          <p>No</p>
        </div>
        <div class="option remember">
          <p>Yes</p>
        </div>
        <div class="option easy">
          <p>Easy</p>
        </div>
      </div>
      <div class="hints">
        <div class="hint listen">
          <span class="ion-android-volume-up"></span>
        </div>
        <div class="hint sentences">
          <span class="ion-help-buoy"></span>
        </div>
      </div>
    </div>
  </div>
</div>
