<div class="wrapper">
  <div class="container quizmaker">
    <div class="heading">
      <h1> Create quiz</h1>
    </div>
    <form class="quiz-template" name="submitWord" novalidate>
      <div class="fields">
        <div class="field title">
          <input type="text" placeholder="Quiz name" class="quizname"></input>
          <input type="text" placeholder="Quiz description" class="quizdesc"></input>
        </div>
        <div class="field multiple-choices">
          <div class="type-selected">
            <h3> Multiple choice</h3>
            <div class="settings">
              <i class="ion-chevron-up"></i>
              <i class="ion-chevron-down"></i>
              <i class="ion-trash-a"></i>
            </div>
          </div>
          <div class="multiple-question">
            <input type="text"></input>
          </div>
          <div class="choice">
            <p>児童中心主義</p>
            <i class="ion-close"></i>
          </div>
          <div class="choice">
            <p>逆推力装置</p>
            <i class="ion-close"></i>
          </div>
          <div class="add-questions">
            <input type="text" placeholder="Add options"></input>
            <div class="add">
              <i class="ion-android-add-circle"></i>
            </div>
          </div>
        </div>
        <div class="field corrections">
          <div class="type-selected">
            <h3> Sentence corrections</h3>
            <div class="settings">
              <i class="ion-chevron-up"></i>
              <i class="ion-chevron-down"></i>
              <i class="ion-trash-a"></i>
            </div>
          </div>
          <div class="correction">
            <textarea></textarea>
            <input type="text"></input>
          </div>
          <div class="fault">
            <input type="text"></input>
          </div>
          <div class="fault">
            <input type="text"></input>
          </div>
          <div class="fault">
            <input type="text"></input>
          </div>
          <div class="fault">
            <input type="text"></input>
          </div>
          <div class="add-faults">
            <div class="add">
              <i class="ion-android-add-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="quiz-types">
        <div class="type">
          <p class="description"> Corrections </p>
          <i class="ion-wand"></i>
        </div>
        <div class="type">
          <p class="description"> Listening </p>
          <i class="ion-volume-medium"></i>
        </div>
        <div class="type">
          <p class="description"> Multiple choice</p>
          <i class="ion-android-checkbox"></i>
        </div>
      </div>
      <div class="actions">
        <div class="action-container">
          <p class="remove">Remove all</p>
          <p class="submit">Submit</p>
        </div>
      </div>
    </form>
  </div>
</div>
