<div class="word-meanings">
  <div class="japanese">
    <p>{{word.data.reading}}</p>
    <h2>{{word.data.expression}}</h2>
  </div>
  <div class="english">
    <p>{{word.data.meaning}}</p>
  </div>
</div>
<div class="wrapper">
  <div class="container singleword">
    <div class="word-details">

      <div class="fields">
        <div class="field">
            <h3>Example sentences</h3>
            <p>{{word.data.sentences}}</p>
        </div>
        <div class="field">
            <h3>Tags</h3>
            <p class="tag">{{word.data.tags.join(", ")}}</p>
        </div>
      </div>

    </div>
    <div class="word-additional">
      <div class="image" ng-if="!word.image.length == 0">
        <img src="http://placehold.it/750x555" alt="placeholder">
      </div>
      <div class="kanjis" ng-if="kanjis.length > 0">
        <h3 ng-if="kanjis.length == 1">Kanji</h3>
        <h3 ng-if="kanjis.length > 1">Kanjis</h3>
        <div class="kanji" ng-repeat="data in results">
          <div class="special" ng-repeat="misc in data.misc">
            <p class="misc">{{misc.stroke_count[0]}} strokes.
                  Grade {{misc.grade[0]}}.
                  {{misc.freq[0]}} of 2500 most used kanji
            </p>
          </div>
          <div class="character" ng-repeat="kanji in data.literal">
            <p>{{kanji}}</p>
          </div>
          <div class="rmgroup" ng-repeat="rms in data.reading_meaning[0].rmgroup">
            <h4 ng-repeat="meaning in rms.meaning">{{meaning}}</h4><br>
            <p class="reading_types">On:</p><p class="ons" ng-repeat="readings in rms.reading | filter: chinese"> {{readings._}} </p><br>
            <p class="reading_types">Kun:</p><p class="kuns" ng-repeat="readings in rms.reading | filter: japanese"> {{readings._}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
