<div class="word-meanings">
  <div class="japanese">
    <p>{{word.reading}}</p>
    <h2>{{word.japanese}}</h2>
  </div>
  <div class="english">
    <p>{{word.english}}</p>
  </div>
</div>
<div class="wrapper">
  <div class="container singleword">
    <div class="word-details">

      <div class="fields">
        <div class="field">
            <h3>Example sentences</h3>
            <p>{{word.sentence}}</p>
        </div>
        <div class="field">
            <h3>Tags</h3>
            <p class="tag">{{word.tags.join(", ")}}</p>
        </div>
      </div>

    </div>
    <div class="word-additional">
      <div class="image" ng-if="!word.image.length == 0">
        <img src="http://placehold.it/750x555" alt="placeholder">
      </div>
      <div class="kanjis" ng-if="kanjis.length > 0">
        <h3>Kanji</h3>
        <div class="kanji" ng-repeat="kanji in kanjis track by $index">
          <p>{{kanji}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
