<div class="loader" ng-class="{'show-loader': loading }">
  <span class="ion-load-d"></span>
</div>
<div ng-show="!loading">
  <div class="wrapper">
    <div class="container assignment">
      <div class="heading">
        <h1> Manage quizzes </h1>
      </div>
      <div class="alldecks">
        <div class="deck-options">
          <h3>
            Recents
          </h3>
        </div>
        <div class="student-assignments">
          <div class="block" ng-repeat="quiz in quizzes track by $index">
              <div class="card-info">
                <h3>{{quiz.cardData.quizName}}</h3>
                <p>{{quiz.cardData.quizDescription}}</p>
              </div>
              <div class="card-additional">
                <p>Questions: {{quiz.cardData.quizItems.length}}</p>
              </div>
              <div class="bottom">
                <i class="ion-trash-a" ng-click="removeQuizzes(quiz.key, quiz)"></i>
                <p class="study" ui-sref="dashboard.quiz-teacher({assignment: quiz.cardData.quizName })">Study</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
