@import "0-utility/bourbon/bourbon";
@import "0-utility/neat/neat";
@import "0-utility/breakpoints";
@import "0-utility/variables";
@import "0-utility/mixins";
@import "0-utility/fonts";
@import "1-base/reset";
@import "2-blocks/modal";
@import "2-blocks/heading";
@import "2-blocks/frontpage-one-thirds";
@import "2-blocks/frontpage-recents";
@import "2-blocks/wordbank-searchbar";
@import "2-blocks/wordbank-words";
@import "2-blocks/singleword";
@import "2-blocks/singleword-details";
@import "2-blocks/singleword-additional";
@import "2-blocks/wordbank-filters";
@import "2-blocks/addword-inputs";
@import "2-blocks/addword-submit";
@import "2-blocks/assignment-decks";
@import "2-blocks/askteacher-ask";
@import "2-blocks/askteacher-questions";
@import "2-blocks/quizmaker-quiztypes";
@import "2-blocks/quizmaker-multiplechoice";
@import "2-blocks/quizmaker-sentence";
@import "2-blocks/quizmaker-title";
@import "3-layout/landingpage";
@import "3-layout/wrapper";
@import "3-layout/container";
@import "3-layout/navbar";
@import "3-layout/topbar";
@import "3-layout/frontpage";
@import "3-layout/wordbank";
@import "3-layout/singleword";
@import "3-layout/worddeck";
@import "3-layout/quiz-memorization";
@import "3-layout/quiz-listening";
@import "3-layout/quiz-type";
@import "3-layout/addword";
@import "3-layout/assignment";
@import "3-layout/askteacher";
@import "3-layout/quizmaker";

body{
  overflow-x: hidden;
}
::-webkit-input-placeholder {
   color: $border-color-grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: $border-color-grey;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $border-color-grey;
}

:-ms-input-placeholder {
   color: $border-color-grey;
}
.loader {
  display: none;
  &.show-loader {
    -moz-animation:spin 4s linear infinite;
    -webkit-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    display: block;
    position: absolute;
    height: 240px;
    width: 240px;
    margin: -120px 0 0 -120px;
    left: 50%;
    top: 50%;
    text-align: center;
    @include media(max-width $mobile){
      height: 150px;
      width: 150px;
      margin: -75px 0 0 -75px;
    }
    span{
      color:$sidebar-bg;
      font-size: 200px;
      line-height: 240px;
      @include media(max-width $mobile){
        font-size: 140px;
        line-height: 150px;
      }
    }
  }
}
textarea{
  &:focus{ outline: 0 }
}
@keyframes blink {
    from {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
    50% {
        text-shadow: 0px 0px 5px #fff;
    }
    to {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(50px); }
}

@keyframes slideOut {
    from { opacity: 1; transform: translateY(0px); }
    to { opacity: 0; transform: translateY(-50px); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
