@import "0-utility/bourbon/bourbon";
@import "0-utility/neat/neat";
@import "0-utility/breakpoints";
@import "0-utility/variables";
@import "0-utility/mixins";
@import "0-utility/fonts";
@import "1-base/reset";
@import "2-blocks/heading";
@import "2-blocks/frontpage-one-thirds";
@import "2-blocks/frontpage-recents";
@import "2-blocks/wordbank-searchbar";
@import "2-blocks/wordbank-words";
@import "2-blocks/singleword-japaneseword";
@import "2-blocks/singleword-details";
@import "2-blocks/singleword-additional";
@import "2-blocks/wordbank-filters";
@import "2-blocks/addword-inputs";
@import "2-blocks/addword-submit";
@import "2-blocks/quiz_question_answer";
@import "3-layout/wrapper";
@import "3-layout/container";
@import "3-layout/navbar";
@import "3-layout/topbar";
@import "3-layout/frontpage";
@import "3-layout/wordbank";
@import "3-layout/singleword";
@import "3-layout/quiz";
@import "3-layout/addword";
@import "3-layout/assignment";

body{
  overflow-x: hidden;
}
::-webkit-input-placeholder {
   color: $border-color-grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: $border-color-grey;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $border-color-grey;
}

:-ms-input-placeholder {
   color: $border-color-grey;
}
