<div class="navigation-top">
  <p>{{ obj.displayName }}</p>
  <span ng-click="logout()" class="ion-power"></span>
</div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"><span class="ion-navicon-round"></span></label>

<div class="navigation-side" >
  <div class="logo">&nbsp;</div>
  <div class="navigation-side__nav">
    <ul>
      <li>
        <a ui-sref="dashboard.front">
          <span class="ion ion-home"></span>
          <p class="small">Dashboard</p>
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.wordbank">
          <span class="ion ion-briefcase"></span>
          <p class="small">Wordbank</p>
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.addword">
          <span class="ion ion-plus-circled"></span>
          <p class="small">Add words</p>
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.quiz">
          <span class="ion ion-university"></span>
          <p class="small">Quiz</p>
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.assignments">
          <span class="ion ion-clipboard"></span>
          <p class="small">Assignments</p>
        </a>
      </li>
      <li >
        <a ui-sref="dashboard.askteacher">
          <span class="ion ion-chatboxes"></span>
          <p class="small">Ask teacher</p>
        </a>
      </li>
    <li>
    </li>
    </ul>
  </div>
</div>


<div ui-view class="subview"> </div>
