<div class="navigation-top">
  &nbsp;
  <div class="logo">&nbsp;</div>
  <div class="user-ctrl">
      <a href="#">Logout</a>
      <p>Username</p>
  </div>
</div>

<div class="navigation-side">
  <div class="navigation-side__nav">
    <ul>
      <li>
        <a ui-sref="dashboard.front">
          <span class="ion-home"></span>
          Dashboard
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.worbank">
          <span class="ion-briefcase"></span>
          Wordbank
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.assignments">
          <span class="ion-clipboard"></span>
          Assignments
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.addword">
          <span class="ion-plus-circled"></span>
          Add words
        </a>
      </li>
      <li>
        <a ui-sref="dashboard.askteacher">
          <span class="ion-chatboxes"></span>
          Ask teacher
        </a>
      </li>
    </ul>
  </div>
</div>


<div ui-view class="subview"> </div>
