<div class="navigation-top">
  <p>{{ obj.displayName }}</p>
  <span ng-click="logout()" class="ion-person"></span>
</div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"><span class="ion-navicon-round"></span></label>

<div class="navigation-side" >
  <div class="logo">&nbsp;</div>
  <div class="navigation-side__nav">
    <ul>
      <li ng-repeat="button in navbar">
        <a ui-sref="{{ button.stateName }}">
          <span class="ion {{ button.icon }}"></span>
          <p class="small">{{ button.description }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>


<div ui-view class="subview"> </div>
