  <div class="type-selected">
    <h3> Multiple choice</h3>
    <div class="settings">
      <i class="ion-chevron-up"></i>
      <i class="ion-chevron-down"></i>
      <i class="ion-trash-a"></i>
    </div>
  </div>
  <div class="multiple-question">
    <input type="text" placeholder="Type in the question"></input>
  </div>
  <div class="choice">
    <p>児童中心主義</p>
    <i class="ion-close"></i>
  </div>
  <div class="choice">
    <p>逆推力装置</p>
    <i class="ion-close"></i>
  </div>
  <div class="add-questions">
    <input type="text" placeholder="Add options"></input>
    <div class="add">
      <i class="ion-android-add-circle"></i>
    </div>
  </div>
