<div class="type-selected">
  <h3> Multiple choice</h3>
  <div class="settings">
    <i class="ion-chevron-up"></i>
    <i class="ion-chevron-down"></i>
    <i class="ion-trash-a"></i>
  </div>
</div>
<div class="multiple-question">
  <input type="text" placeholder="Type in the question"></input>
</div>
<div class="choice" ng-repeat="option in multipleQuestionOptions track by $index">
  <p>{{ option }}</p>
  <i class="ion-close" ng-click="removeChoice(option)"></i>
</div>
<div class="add-questions">
  <input type="text" ng-model="$parent.multipleChoice" placeholder="Add options"></input>
  <div class="add" ng-click="moreChoices(multipleChoice)">
    <i class="ion-android-add-circle"></i>
  </div>
</div>
