<div class="field corrections">
        <div class="type-selected">
          <h3> Sentence corrections</h3>
          <div class="settings">
            <i class="ion-chevron-up"></i>
            <i class="ion-chevron-down"></i>
            <i class="ion-trash-a"></i>
          </div>
        </div>
        <div class="correction">
          <textarea></textarea>
          <input type="text"></input>
        </div>
        <div class="fault">
          <input type="text"></input>
        </div>
        <div class="fault">
          <input type="text"></input>
        </div>
        <div class="fault">
          <input type="text"></input>
        </div>
        <div class="fault">
          <input type="text"></input>
        </div>
        <div class="add-faults">
          <div class="add">
            <i class="ion-android-add-circle"></i>
          </div>
        </div>
      </div>
