
  <div class="type-selected">
    <h3> Sentence corrections</h3>
    <div class="settings">
      <i class="ion-chevron-up"></i>
      <i class="ion-chevron-down"></i>
      <i class="ion-trash-a"></i>
    </div>
  </div>
  <div class="correction">
    <textarea placeholder="Type a faulty sentence"></textarea>
    <input type="text" placeholder="Give an assignment (ex. 'find all wrong particles')"></input>
  </div>
  <div class="fault" ng-repeat="fault in sentenceFaults track by $index">
    <input type="text" value="{{fault}}"></input>
  </div>
  <div class="add-faults">
    <input type="text" ng-model="$parent.sentenceFault" placeholder="Add options"></input>
    <div class="add" ng-click="addFault(sentenceFault)">
      <i class="ion-android-add-circle"></i>
    </div>
  </div>
</div>
