<div class="block">
  <div class="success" ng-if="data.completed">
    <p><strong>{{data.grade}}</strong></p>
  </div>
  <div class="title">
    <h3>{{data.title}}</h3>
  </div>
  <div class="description">
    <p>{{data.description}}</p>
  </div>
  <div class="bottom">
    <div class="elements">
      <span class="ion-clock" ng-if="!data.completed"></span>
      <p ng-if="!data.completed">{{data.due}}</p>
      <p ng-if="data.completed">Completed</p>
      <span class="ion-edit" ng-if="!data.completed"></span>
    </div>
  </div>
</div>
