<!-- Recent activities / quickselection -->
<!-- Controller loops this structure in to  the view whenever a new activity is occurs. -->
  <div class="activity">
    <div class="what-and-when">
      <p class="event">{{data.activity}}</p>
      <p class="occurance">{{data.occurance}}</p>
    </div>
    <div class="operations">
      <p class="view">
        <span class="action ion-chevron-right"></span>
        <span class="mobile-text"> View notification</span>
      </p>
      <p class="delete">
        <span class="action ion-trash-a"></span>
        <span class="mobile-text"> Delete notification</span>
      </p>
    </div>
  </div>
