<div class="wordblock" ng-show="word.visible" ng-init="word.visible = true">

  <div class="word-data">
    <p class="japanese"><b>{{word.japanese}}</b></p>
    <p class="english">{{word.english}}</p>
  </div>

  <div class="operations">
    <p class="view">
      <span class="action ion-chevron-down"></span>
      <span class="mobile-text"> View notification</span>
    </p>
    <p class="delete">
      <span class="action ion-trash-a"></span>
      <span class="mobile-text"> Delete notification</span>
    </p>
  </div>
</div>
