form{
  @include boxShadow;
  margin-top: 40px;
  .fields{
    background-color: $white;
    border: 1px solid white;
    .field{
      @include clearfix;
      padding: 25px 15px 25px 15px;
      border-bottom: 1px solid #E2E5EB;
      position: relative;
      &:last-of-type{
        border: none;
      }
        .textinput{
          @include font-size(16px);
          position: relative;
          border:none;
          border-bottom: 1px solid $border-color-grey;
          height:40px;
          outline:none;
          width: 100%;
          transition: border 0.1s ease-in-out;
        }
        h4{
          padding-top: 30px;
          position: absolute;
          pointer-events: none;
          left: 15px;
          top: 0;
          transition: 0.2s ease all;
          @include media(max-width $mobile){
            padding-bottom: 0;
          }
        }
        .tag-container{
          position: relative;
          min-height:45px;
          border-bottom: 1px solid $border-color-grey;
          ::-webkit-input-placeholder {  @include font-size(17px); }
          :-moz-placeholder { @include font-size(17px); }
          ::-moz-placeholder { @include font-size(17px); }
          :-ms-input-placeholder { @include font-size(17px);  }
          input[type="search"]{
            display: inline-block;
            margin-top: 10px;
            border:none;
            height:40px;
            &:focus{
              outline:none;
            }
          }
          .tag-list{
            position: relative;
            z-index: 15;
            .btn{
              color: $white;
              background-color: $green;
              border: 1px solid $green-dark;
              border-radius:3px;
              padding: 5px;
              margin-right: 5px;
              line-height: 34px;
              .close{
                cursor: pointer;
                color: $green-dark;
              }
              @include media(max-width $mobile){
                margin-top: 5px;
                display:block;
              }
            }
          }
          .tag-choices{
            position: absolute;
            z-index: 17;
            height: 150px;
            width:350px;
            overflow-y: scroll;
            background-color: $white;
            box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
            @include media(max-width $mobile){
              width: 100%;
            }
            * {
              div{
                padding: 10px 5px;
                cursor:pointer;
                &:hover{
                  background-color: $light-grey;
                }
              }
            }
          }
        }
        textarea{
          padding-top:12px;
          font-family: arial;
          min-height: 40px;
          resize: vertical;
        }
        .textinput:focus, .tag-container.open,
        .textinput.ng-not-empty, .tag-container.ng-not-empty{
          border-bottom: 3px solid $blue;
        }
        .textinput:focus ~ h4, .tag-container.open ~ h4,
        .textinput.ng-not-empty ~ h4, .tag-container.ng-not-empty ~ h4{
          left: 15px;
          top: -15px;
          font-size: 11px;
          opacity: 1;
          color: $blue;
        }
      }
    }
}
