.filter-box{
  @include span-columns(3);
  background-color:$white;
  border: 1px solid $border-color-grey;
  float:right;
  h2{
    padding-top: 10%;
    padding-bottom: 20px;
    color: $sidebar-bg;
    @include font-size(24px);
    text-align: center;
    @include media(max-width $mobile) {
      padding-top: 5%;
    }
  }
  .filter-container{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    text-align: center;
    .filter{
      background-color: $light-grey;
      border: 1px solid $border-color-grey;
      display:inline-block;
      text-align: center;
      padding: 4px 4px;
      margin:0 0 4px 4px;
      cursor:pointer;
      p{
        color: $sidebar-bg;
      }
    }
    .active{
      background-color: $green;
      border: 1px solid $green-dark;
    p{
      color: $white;
    }
  }
  }
}
