.one-third{
  @include boxShadow;
  @include span-columns(4);
  background-color: $white;
  @include media(max-width $mobile) {
    @include span-columns(12);
    margin-bottom: 40px;
  }

  h2{
    color: $sidebar-bg;
    padding-bottom: 20px;
    padding-top: 10%;
    text-align: center;
    @include media(max-width $mobile) {
      padding-top: 5%;
    }
  }
  .block__action{
    cursor:pointer;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    .icon_container{
      @include hoverColor;
      background: rgb(62,210,224); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(62,210,224,1) 0%, rgba(0,195,230,1) 50%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(62,210,224,1) 0%,rgba(0,195,230,1) 50%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(62,210,224,1) 0%,rgba(0,195,230,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed2e0', endColorstr='#00c3e6',GradientType=0 ); /* IE6-9 */
      border: 1px solid darken($blue, 5%);
      border-top: 1px solid $blue;
      margin-bottom: 5px;
      border-radius: 5px;
      height: 220px;
      position: relative;
      @include media(max-width 1024px){
        height: 180px;
      }
      h1{
        color: $blue-light;
        font-size: 6em;
        background-color: $blue-dark;
        border-radius: 100%;
        min-width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media(max-width 1024px){
          font-size: 5em;
          min-width: 125px;
        }
      }

    }
   margin-bottom: 15px;
  }
}
