.recent{
  @include span-columns(12);
  @include boxShadow;
  background-color: $white;
  border: 1px solid white;
  margin-bottom: 40px;
  .activity{
    margin: 2px 5px 2px 5px;
    background-color: $light-grey;
    @include clearfix;
    &:first-of-type{  margin-top: 5px;  }
    &:last-of-type{  margin-bottom: 5px;  }
    @include media(max-width $mobile){
      @include align-items(stretch);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
      margin-top: 5px;
    }
    span {
      font-size:22px;
      line-height: 14px;
      @include media(max-width $mobile){
        font-size:42px;
        line-height:34px;
      }
    }
    p{
      padding: 26px 16px;
      display:inline-block;
    }

    .what-and-when{
      @include span-columns(10, block-collapse);
      color: $sidebar-bg;
      @include media(max-width $mobile){
        @include span-columns(9, block-collapse);
      }
      .event{
        @include media(max-width $mobile){
          padding: 32px 16px 16px;
          display:block;
        }
      }
      .occurance{
        float:right;
        color: $sidebar-icon-color;
        @include media(max-width $mobile){
          float:none;
          display:block;
          padding: 10px 16px 28px;
        }
      }
    }
    .operations{
      @include span-columns(2, block-collapse);
      color: $sidebar-bg;
      .delete{
        @include hoverColor;
        @include span-columns(12, block-collapse);
        text-align: center;
        cursor: pointer;
        @include media(max-width $mobile){
          height: 100%;
          span{
            position: relative;
            top: 30%;
          }
        }
       }
      @include media(max-width $mobile){
        @include span-columns(3, block-collapse);
        @include flex(1);
        p{
          padding: 16px;
        }
      }
    }
  }
}
