.one-third{
  @include boxShadow;
  @include span-columns(4);
  background-color: $white;
  @include media(max-width $mobile) {
    @include span-columns(12);
    margin-bottom: 40px;
  }

  &:last-of-type{  margin-right:0;  }

  h2{
    color: $sidebar-bg;
    padding-bottom: 20px;
    padding-top: 10%;
    text-align: center;
    @include media(max-width $mobile) {
      padding-top: 5%;
    }
  }
  .block__action{
    @include hoverColor;
    cursor:pointer;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;

    a{
      @include clearfix;
      display: block;
      text-align: center;
      transition: all 0.1s ease;
      .info{
        font-style: italic;
        font-weight: bold;
        color: $sidebar-icon-color;
        font-family: "Times New Roman", Georgia, Serif;
      }
      span{
        display: block;
        color: $white;
        float:right;
        font-size: 38px;
        height:80px;
        line-height:80px;
        width:80px;
        @include media(max-width 1024px){
          display:none;
        }
      }
      p,h4{
        display: block;
        padding: 25px 20px 20px 20px;
        margin-right: 80px;
        height:80px;
        color: $white;
        @include media(max-width 1024px){
          margin-right: 0;
        }
      }
      h4{
        @include font-size(24px);
      }
    }
    &:nth-of-type(1){
      span{
        background-color: $green-light;
      }
      p, h4{
        background-color: $green;
       }
    }
    &:nth-of-type(2){
      span{
        background-color: $blue-light;
       }
      p{
        padding-top:30px;
        background-color: $blue;
        @include media(max-width $mobile){
          text-align:center;
        }
      }

    }
    &:nth-of-type(3){
      span{
        @include font-size(42px);
        background-color: $sidebar-bg;
        color: $sidebar-icon-color;
      }
      p{
        padding-top:30px;
        background-color: $sidebar-bg;
        color: $white;
      }
       margin-bottom: 15px;
    }
  }
}
