.one-third{
  @include boxShadow;
  @include span-columns(4);
  background-color: $white;
  @include media(max-width $mobile) {
    @include span-columns(12);
    margin-bottom: 40px;
  }

  h2{
    color: $sidebar-bg;
    padding-bottom: 20px;
    padding-top: 10%;
    text-align: center;
    @include media(max-width $mobile) {
      padding-top: 5%;
    }
  }
  .block__action{
    cursor:pointer;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    .icon_container{
      @include hoverColor;
      background: linear-gradient(to bottom right, $blue-light, $blue);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed2e0', endColorstr='#00c3e6',GradientType=0 ); /* IE6-9 */
      margin-bottom: 5px;
      border-radius: 5px;
      height: 220px;
      position: relative;
      @include media(max-width 1024px){
        height: 180px;
      }
      h1{
        color: lighten($blue-light, 5%);
        font-size: 6em;
        background-color: $blue-dark;
        border-radius: 100%;
        min-width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media(max-width 1024px){
          font-size: 5em;
          min-width: 125px;
        }
      }

    }
   margin-bottom: 15px;
  }
}
