.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	transition: opacity 200ms ease;
  z-index: 10000;
  background: rgba(0,0,0,0.4);
  opacity: 1;
  &.ng-enter,&.ng-leave {
    opacity: 0;
  }
}

.modal {
	padding: 15px;
	opacity: 1;
	width: 300px;
  background: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: fixed;
  top: 30%;
  transform: translateY(0px);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10001;
  transition: top 300ms ease;
  &.ng-enter {
    animation: slideIn 300ms both ease-in-out;
    z-index: 998;
  }
  &.ng-leave {
    animation: slideOut 300ms both ease-in-out;
    z-index: 998;
  }
  h2, p, i { color: $sidebar-bg }
  .description {
    text-align: center;
    padding: 10px 0 20px 0;
  }
	.deck-info{
		.field{
			@include clearfix;
			padding: 25px 0 10px 0;
			position: relative;
			.input{
				@include font-size(16px);
				@include span-columns(12);
				display:block;
				position: relative;
				border:none;
				border-bottom: 1px solid #E2E5EB;
				height:40px;
				outline:none;
				width: 100%;
				transition: border 0.1s ease-in-out;
			}
			p{
				@include font-size(17px);
				@include paragraph;
				color: $sidebar-bg;
				padding-top: 30px;
				position: absolute;
				pointer-events: none;
				left: 0;
				top: 0;
				transition: 0.2s ease all;
				@include media(max-width $mobile){
					padding-bottom: 0;
				}
			}
			.input:focus, .input.ng-not-empty,{
				border-bottom: 3px solid $blue;
			}
			.input:focus ~ p, .input.ng-not-empty ~ p {
				left: 0;
				top: -15px;
				font-size: 11px;
				opacity: 1;
				color: $blue;
			}
		}
		.count{
			padding: 15px 0 25px 0;
		}
	}
	.submit{
		@include span-columns(12);
		button{
			@include font-size(17px);
			@include paragraph;
			cursor:pointer;
			width: 100%;
			min-height:45px;
			color: $white;
			background-color: $green;
			border: 1px solid $green-dark;
			border-radius: 3px;
			transition: all 0.1s ease-in-out;
		}
		button:disabled, .button:disabled{
			background-color: lightgrey;
			border: 1px solid lightgrey;
		}
	}
  .content{
     .memorize,.type,.listen{
      @include clearfix;
      margin-top: 5px;
      min-height: 60px;
      background-color: $blue;
      transition: background-color 0.2s ease-in-out;
      cursor:pointer;
      &:hover{
        background-color: $blue-dark;
      }
      i{
        @include span-columns(3, block-collapse);
        @include font-size(24px);
        text-align: center;
        line-height: 60px;
        color: $white;
      }
      p{
        @include span-columns(9, block-collapse);
        line-height: 60px;
        color: $white;
        padding-left: 30px;
      }
     }
   }
  h2{
    line-height: 24px;
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
}
