.quiz-types{
  @include span-columns(12);
  padding: 15px;
  border-top: 1px solid #E2E5EB;
  background-color: $white;
  .type{
    @include span-columns(3);
    cursor: pointer;
    border-radius: 3px;
    background: linear-gradient(to bottom right, $blue-light, $blue);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed2e0', endColorstr='#00c3e6',GradientType=0 ); /* IE6-9 */
    height: 125px;
    text-align: center;
    color: $blue-dark;
    transition: all 0.2s ease-in-out;
    &:hover{
      @include hoverColor;
    }
    i{
      @include font-size(50px);
      margin-top: 25px;
      display: block;
    }
    .description{
      @include font-size(17px);
      padding:5px;
      color: $white;
    }
  }
}
