.answer_container{
  @include clearfix;
  margin-bottom: 40px;
  .mission{
    @include boxShadow;
    @include span-columns(12);
    text-align: center;
    background-color: $sidebar-bg;
    width:100%;
    min-height:75px;
    @include font-size(24px);
    padding-left: 12px;
  }
  .option{
    @include boxShadow;
    background-color: $white;
    margin-top: 20px;
    text-align: center;
  }

  .options{
    @include clearfix;
    @include span-columns(12, block-collapse);
    .option{
      @include span-columns(4, block-collapse);
      cursor: pointer;
      padding: 20px;
      &:hover{
        background-color: darken($light-grey, 5%);
      }
      @include media(max-width 768px){
        @include span-columns(4, block-collapse);
      }
    }
    span{
      @include font-size(24px);
    }
  }
}
.fade-hide, .fade-show {
  -webkit-transition:all ease 0.1s;
  -moz-transition:all ease 0.1s;
  -o-transition:all ease 0.1s;
  transition:all ease 0.1s;
}
.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}
