.word-additional{
  @include span-columns(6);
  margin-top: 20px;
  @include media(max-width $mobile){
    @include span-columns(12);
  }
  .kanjis{
    @include clearfix;
    @include boxShadow;
    background-color: $white;
    margin-bottom: 40px;
    h3{
      padding: 20px 20px 0;
      color: $sidebar-bg;
    }
    .kanji{
      @include span-columns(12);
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E2E5EB;
      &:last-of-type{
        border: none;
      }
      .special{
        @include span-columns(12);
        margin-right:0;
        .misc{
          @include font-size(14px);
          color: $sidebar-icon-color;
          padding: 15px 15px 10px 20px;
          @include media(max-width $mobile){
            @include font-size(16px);
          }
        }
      }
      .character{
        @include span-columns(3);
        margin-right:0;
        padding: 15px 15px 15px;
        text-align:center;
        p{
          @include font-size(54px);
          @include japanese;
        }
      }
      .rmgroup{
        @include span-columns(9);
        padding: 0 15px 15px 0;
        h4,p{
          display:inline-block;
        }
        h4{
          @include font-size(24px);
          padding-right: 8px;
          padding-bottom: 8px;
          &::after{
            content:", ";
          }
          &:last-of-type{
            &::after{
              content: "";
            }
          }
        }
        .reading_types{
          @include font-size(17px);
          color: $sidebar-bg;
          width: 45px;
        }
        .ons, .kuns{
          @include font-size(18px);
          padding-right: 10px;
          &:first-of-type{
            padding-right: 0;
          }
        }
      }
    }
  }
}
