.word-details{
  @include span-columns(6);
  @include boxShadow;
  margin-top: 40px;
  @include media(max-width $mobile){
    @include span-columns(12);
  }
  .fields{
    background-color: $white;
    .field{
      @include clearfix;
      border-bottom: 1px dotted rgba(0,0,0,0.3);
      &:last-of-type{
        border: none;
      }
    }
    h3{
      padding: 20px 15px 0;
      color: $sidebar-bg;
    }
    p{
      @include font-size(16px);
      padding: 15px 15px 15px;
    }
  }
}
