.single-word-meanings{
  @include paragraph;
  min-height: 320px;
  background: linear-gradient(to bottom, $blue-light, $blue);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed2e0', endColorstr='#00c3e6',GradientType=0 ); /* IE6-9 */
  position: relative;
  border-bottom: 1px solid darken($blue, 5%);
  h3,h2, p{
    text-align: center;
    color: $white;
  }
  .play{
    position: absolute;
    z-index: 10000;
    width: 50px;
    top: 20px;
    right:20px;
    h3{
      @include font-size(40px);
      cursor: pointer;
    }
    @include media(max-width $mobile){
      position: absolute;
      width: 100%;
      right:0;
      left:0;
      margin: 0 auto;
      h3{
        @include font-size(60px);
      }
    }
  }
  .container{
    padding-top: 100px;
    padding-bottom: 100px;
    .japanese{
      h3{
        cursor: pointer;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        @include font-size(45px);
      }
      h2{
        @include font-size(60px);
        @include japanese;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        animation: blink 1.5s ease-in-out forwards;
        animation-delay: 1s;
      }
      p{
        @include japanese;
        @include font-size(24px);

      }
      @include media(max-width 540px){

        h2{
          @include font-size(42px);
        }
      }
    }
    .english-translation{
      @include outer-container;
      p{
        @include font-size(24px);
      }
      @include media(max-width $mobile){
      }
    }
  }
}
