.word-additional{
  @include span-columns(6);
  margin-top: 40px;
  @include media(max-width $mobile){
    @include span-columns(12);
  }
  .image{
    min-height: 200px;
    margin-bottom: 25px;
    img{
      width: 100%;
    }
  }
  .kanjis{
    @include boxShadow;
    background-color: $white;
    border: 1px solid $border-color-grey;
    h3{
      padding: 20px 15px 0;
      color: $sidebar-bg;
    }
    .kanji{
      border-bottom: 1px dotted rgba(0,0,0,0.3);
      &:last-of-type{
        border: none;
      }
      p{
        @include font-size(30px);
        padding: 15px 15px 15px;
      }
    }
  }
}
