.word-details{
  @include span-columns(6);
  @include boxShadow;
  margin-top: 40px;
  @include media(max-width $mobile){
    @include span-columns(12);
  }
  .fields{
    background-color: $white;
    .field{
      @include clearfix;
      border-bottom: 1px solid #E2E5EB;
      &:last-of-type{
        border: none;
      }
    }
    h3{
      padding: 20px;
      color: $sidebar-bg;
    }
    p{
      @include font-size(17px);
      padding: 20px;
    }
  }
}
