.play{
  position: absolute;
  top: 20px;
  right:30px;
  @include media(max-width $mobile){
    position: relative;
    top: 0;
    right:0;
  };
  @include media(max-width 540px){
    margin-top: 3%;
  };
}
.word-meanings{
  @include paragraph;
  min-height: 250px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ed2e0+0,00c3e6+50 */
  background: rgb(62,210,224); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(62,210,224,1) 0%, rgba(0,195,230,1) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(62,210,224,1) 0%,rgba(0,195,230,1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(62,210,224,1) 0%,rgba(0,195,230,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ed2e0', endColorstr='#00c3e6',GradientType=0 ); /* IE6-9 */
  position: relative;
  border-bottom: 1px solid darken($blue, 5%);
  h3,h2, p{
    text-align: center;
    color: $white;
  }
  .progress{
    @include span-columns(12);
    height: 15px;
    background-color: darken($blue, 3%);
    border-bottom: 1px solid $blue-light;
    .readiness{
      height: 15px;
      width: 0%;
      background-color: $sidebar-bg;
      border-bottom: 1px solid $blue-light;
      transition: all 0.2s ease;
    }
  }
  .japanese{
    padding: 6% 0 2%;
    h3{
      cursor: pointer;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      @include font-size(45px);
    }
    h2{
      @include font-size(60px);
      @include japanese;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
      animation: blink 1.5s ease-in-out forwards;
      animation-delay: 1s;
    }
    p{
      @include japanese;
      @include font-size(24px);
      padding-bottom: 0;
    }
    @include media(max-width 540px){
      padding: 10% 0 8%;
      h2{
        @include font-size(26px);
      }
    }
  }
  .english-translation{
    @include outer-container;
    border-top: 1px solid $white;
    p{
      @include font-size(24px);
      padding: 3% 0 8%;
      @include media(max-width 540px){
        @include font-size(17px);
        padding: 8% 0 12%;
      }
    }
  }
  .kanji-answer{
    h3{
      @include japanese;
      @include font-size(30px);
    }
    p{
      @include font-size(24px);
    }
    padding-bottom: 40px;
  }
  .listening{
    padding: 4% 0 0;
    text-align: center;
    i{
      @include font-size(120px);
      color: $white;
    }
  }
}
