.filter-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.toggle{
  display:none;
  @include media(max-width $mobile){
    text-align: center;
    background-color: $sidebar-bg;
    color: $sidebar-icon-color;
    cursor:pointer;
    display:block;
    font-size: 38px;
    min-height: 65px;
    min-width: 65px;
    position: fixed;
    right: 0;
    top:0;
    z-index: 2;
    span{
      line-height: 65px;
    }
  }
}
.filter-trigger + .toggle, .filter-box {
  transition: right 0.2s;
}

.filter-trigger:checked + .toggle {
  right: 50%;
}

.filter-trigger:checked ~ .filter-box {
  right: 0;
}
.filter-box{
  @include boxShadow;
  @include span-columns(12);
  background-color:$white;
  @include media(max-width $mobile){
    margin-right: 0;
    height: 100%;
    position: fixed;
    right: -100%;
    bottom: 0;
    z-index: 5;
    width: 50%;
    direction:ltr;
  }
  .filter-container{
    padding:20px;
    @include media(max-width $mobile){
      border-top: 1px solid #E2E5EB;
      unicode-bidi:bidi-override;
      direction: rtl;
      overflow-y: scroll;
      height:100%;
    }
    .filter{
      background-color: $light-grey;
      border: 1px solid $border-color-grey;
      border-radius:3px;
      display:inline-block;
      text-align: center;
      padding: 2px 12px 2px 12px;
      margin:0 4px 4px 0;
      cursor:pointer;
      @include media(max-width $mobile){
        display:block;
        border-radius: 0;
        padding: 12px;
        margin:10px 10px 10px 10px;
        &:last-of-type{
          margin-bottom: 100px;
        }
      }
      p{
        color: $sidebar-bg;
        @include media(max-width $mobile){
          @include font-size(24px);
        }
      }
    }
    .active{
      background-color: $green;
      border: 1px solid $green-dark;
      p{
        color: $white;
      }
    }
  }
}
