 .wordblock{
  @include clearfix;
  cursor: pointer;
  margin: 5px;
  padding:20px;
  background-color: $blue;
  @include media(max-width $mobile){
    margin-top: 5px;
  }
  p{
    color: $white;
  }
  .word-data{
    @include span-columns(12);
    @include media(max-width $mobile){

    }
    .japanese{
      display:inline-block;
      @include font-size(17px);
      @include media(max-width $mobile){
        @include font-size(24px);
        display:block;
        padding-bottom:5px;
      }
    }
    .english{
      float:right;
      @include font-size(17px);
      @include media(max-width $mobile){
        display:block;
        float:none;
        padding-top:5px;
      }
    }

  }
  .operations{
    display:none;
  }
}

.more-words{
  @include hoverColor;
  margin: 5px;
  background-color: $sidebar-bg;
  cursor: pointer;
  p{
    color: $white;
    font-size:18px;
    padding: 26px;
    text-align: center;
  }
}
.empty{
  clear:left;
  height:100px;
}
