 .wordblock{
  @include clearfix;
  @include boxShadow;
  position: relative;
  cursor: pointer;
  padding:26px;
  background-color: $blue;
  border-bottom: 1px solid darken($blue,7%);
  border-left: 1px solid darken($blue,7%);
  border-right: 1px solid darken($blue,7%);
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  &:hover{
    background-color: #33CFEB;
    margin: 5px 0 5px;
    border-bottom: 1px solid $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
  }
  @include media(max-width $mobile){
    margin-top: 5px;
  }
  p{
    color: $white;
  }
  .word-data{
    @include span-columns(11, block-collapse);
    @include media(max-width $mobile){

    }
    .japanese{
      display:inline-block;
      @include font-size(17px);
      @include japanese;
      @include media(max-width $mobile){
        @include font-size(24px);
        display:block;
        padding-bottom:5px;
      }
    }
    .english{
      float:right;
      @include font-size(17px);
      @include media(max-width $mobile){
        display:block;
        float:none;
        padding-top:5px;
      }
    }

  }
  .operations{
    @include span-columns(1, block-collapse);
    color: $white;
    cursor:pointer;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    span {
      @include font-size(26px);
      line-height: 14px;
      @include media(max-width $mobile){
        @include font-size(48px);
        line-height:34px;
      }
    }
    .action{
      vertical-align: middle;
      display:inline-block;
      position:absolute;
      top:50%;
      left:0;
      right:0;
      margin:auto;
      transform:translateY(-50%);
    }
    .options{
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
      background-color: white;
      color: $sidebar-bg;
      position: absolute;
      right:0;
      bottom:0;
      width: 200px;
      height: auto;
      li{
        @include clearfix;
        list-style: none;
        text-align: left;
        margin-top:5px;
        margin-bottom:5px;
        padding: 16px 25px 16px 25px;
        &:hover{
          background-color: $light-grey;
        }
        p{
          color: $sidebar-bg;
          float:left;
        }
        span{
          @include font-size(22px);
          float: right;
        }

      }
    }
  }
}

.more-words{
  @include hoverColor;
  background-color: $sidebar-bg;
  cursor: pointer;
  p{
    color: $white;
    font-size:17px;
    padding: 20px;
    text-align: center;
  }
}
.empty{
  clear:left;
  height:200px;
}
