.word-details{
  @include span-columns(8);
  .fields{
    background-color: $white;
    border: 1px solid $border-color-grey;
    .field{
      @include clearfix;
      border-bottom: 1px dotted rgba(0,0,0,0.3);
      &:last-of-type{
        border: none;
      }
      .title{
        float:left;
        min-width: 150px;
      }
      .content{
        float:left;
        max-width: 500px;
      }
    }
    h4{
      padding: 20px 15px;
    }
    p{
      @include font-size(18px);
      padding: 22px 5px 15px;
    }
    .add, .edit, .delete{
      @include hoverColor;
      @include span-columns(2.6 of 8);
      cursor: pointer;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      p{
        @include font-size(18px);
        color: $white;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    .delete{
        padding-left: 15px;
      p{
        background-color: $sidebar-bg;
      }
    }
    .add, .edit{
      p{
        background-color: $green;
        border: 1px solid $green-dark;
      }
    }
  }
}
