.the-word{
  margin: 0 5px 5px 5px;
}
 .wordblock{
  @include clearfix;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  padding:26px;
  background-color: $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  &:hover{
    @include boxShadow;
    background-color: #33CFEB;
    margin: 8px -15px 8px;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
  }
  @include media(max-width $mobile){
    margin-top: 5px;
    &:hover{
      margin: 5px 0 5px;
    }
  }
  p{
    color: $white;
  }
  .word-data{
    @include span-columns(11, block-collapse);
    @include media(max-width $mobile){

    }
    .japanese{
      display:inline-block;
      @include font-size(17px);
      @include japanese;
      @include media(max-width $mobile){
        @include font-size(24px);
        display:block;
        padding-bottom:5px;
      }
    }
    .english{
      float:right;
      @include font-size(17px);
      @include media(max-width $mobile){
        display:block;
        float:none;
        padding-top:5px;
      }
    }

  }
  .active{
    pointer-events: none;
  }
  .none{
    pointer-events: initial;
  }
  .operations{
    @include span-columns(1);
    color: $white;
    cursor:pointer;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @include media(max-width $mobile){
      @include span-columns(2);
    };
    span {
      @include font-size(26px);
      line-height: 14px;
      @include media(max-width $mobile){
        @include font-size(48px);
        line-height:34px;
      }
    }
    .action{
      vertical-align: middle;
      display:inline-block;
      position:absolute;
      top:50%;
      left:0;
      right:0;
      margin:auto;
      transform:translateY(-50%);
    }
    .options{
      box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
      background-color: white;
      color: $sidebar-bg;
      position: absolute;
      right:0;
      bottom:0;
      width: 200px;
      height: auto;
      a{
        color: $sidebar-bg;
      }
      li{
        @include clearfix;
        list-style: none;
        text-align: left;
        margin-top:5px;
        margin-bottom:5px;
        padding: 16px 25px 16px 25px;
        &:hover{
          background-color: $light-grey;
        }
        p{
          color: $sidebar-bg;
          float:left;
        }
        span{
          @include font-size(22px);
          float: right;
        }
      }
    }
  }
}

.selectedWord{
  background-color: $blue-dark;
  border-bottom: 1px solid darken($blue-dark,5%);
  border-left: 1px solid darken($blue-dark,5%);
  border-right: 1px solid darken($blue-dark,5%);
  transition: all 0.1s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  &:hover{
    background-color: lighten($blue-dark,2%);
    margin: 8px 0 8px;
    border-bottom: 1px solid $blue-dark;
    border-left: 1px solid $blue-dark;
    border-right: 1px solid $blue-dark;
  }
}

.more-words{
  @include span-columns(12);
  padding: 20px;
  padding-top: 15px;
  .showmore{
    width: 130px;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
    background-color: $light-grey;
    border: 1px solid $border-color-grey;
    border-radius:3px;
    transition: all 0.1s ease-in-out;
    &:hover{
      background-color: darken($light-grey, 5%);
    }
    p{
      color: $sidebar-bg;
      font-size:17px;
      text-align: center;
    }
  }
}
.empty{
  clear:left;
  height:200px;
}
