.filter-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.toggle{
  display:none;
  @include media(max-width $mobile){
    text-align: center;
    background-color: $sidebar-bg;
    color: $sidebar-icon-color;
    cursor:pointer;
    display:block;
    font-size: 38px;
    min-height: 65px;
    min-width: 65px;
    position: fixed;
    right: 0;
    top:0;
    z-index: 99999;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    animation-delay: 1s;
    span{
      line-height: 65px;
    }
  }
}
.filter-trigger + .toggle, .action-box {
  transition: right 0.2s;
}

.filter-trigger:checked + .toggle {
  right: 50%;
}

.filter-trigger:checked ~ .action-box {
  right: 0;
}
.action-box{
  @include boxShadow;
  @include span-columns(12);
  background-color:$white;
  @include media(max-width $mobile){
    margin-right: 0;
    height: 100%;
    position: fixed;
    right: -100%;
    bottom: 0;
    z-index: 99998;
    width: 50%;
    direction:ltr;
  }
  .filter-container{
    padding:20px;
    border-top: 1px solid #E2E5EB;
    @include media(max-width $mobile){
      unicode-bidi:bidi-override;
      direction: rtl;
      overflow-y: scroll;
      height:100%;
    }
    .filter{
      background-color: $light-grey;
      border: 1px solid $border-color-grey;
      border-radius:3px;
      display:inline-block;
      text-align: center;
      padding: 2px 12px 2px 12px;
      margin:0 4px 4px 0;
      cursor:pointer;
      transition: all 0.1s ease-in-out;
      &:hover{
        background-color: darken($light-grey, 5%);
      }
      @include media(max-width $mobile){
        display:block;
        border-radius: 0;
        padding: 12px;
        margin:10px 10px 10px 10px;
        &:last-of-type{
          margin-bottom: 100px;
        }
      }
      p{
        color: $sidebar-bg;
        @include media(max-width $mobile){
          @include font-size(24px);
        }
      }
    }
    .active{
      background-color: $green;
      border: 1px solid $green-dark;
      &:hover{
        background-color: darken($green, 5%);
      }
      p{
        color: $white;
      }
    }
  }
  .deck-container{
    @include span-columns(12);
    border-top: 1px solid #E2E5EB;
    padding: 20px;
    .deck-info{
      @include span-columns(4);
      @include media(max-width $mobile){
        @include span-columns(12);
        display:block;
        padding: 12px;
      }
      .input{
        margin-left: 11px;
        padding: 2px;
        border:none;
        border-bottom: 1px solid #E2E5EB;
        transition: border 0.1s ease-in-out;
        &:focus{
          outline:none;
        }
        @include media(max-width $mobile){
          @include span-columns(12);
          margin-left: 0;
        };
      }
      .input:focus, .input.ng-not-empty, {
        border-bottom: 3px solid $blue;
      }
    }
    .submit{
      @include span-columns(12);
      @include media(max-width $mobile){
        @include span-columns(12);
        padding: 12px;
      }
      p{
        @include span-columns(10);
      }
      button{
        @include span-columns(2);
        @include font-size(15px);
        cursor:pointer;
        line-height: 25px;
        padding: 0 15px;
        margin-right: 0;
        border-radius: 3px;
        border: 1px solid $green-dark;
        background-color: $green;
        color:$white;
        text-align: center;
        float: right;
        cursor: pointer;
        @include media(max-width $mobile){
          @include span-columns(12);
          padding: 12px;
          margin-top:12px;
        };
      }
    }
    p{
      display: inline;
      color: $sidebar-bg;
      line-height: 25px;
      @include media(max-width $mobile){
        @include span-columns(12);
        @include font-size(24px);
      }
    }
  }
}
